.fa-pen {
  color: rgb(54, 190, 54);
  cursor: pointer;
  font-size: 1rem;
}
.fa-trash-can {
  color: rgb(180, 26, 26);
  cursor: pointer;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  background-color: #EBE9E9;
  background-image: url('todo-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  background-color:rgba(0, 9, 9, 1);
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.main {
  z-index: 2;
  background: rgb(90, 90, 90, 0.6);
  padding: 1.5rem 1rem 1rem 1rem;
  min-height: 40vh;
  min-width: 50vw;
  margin: auto;
  border-radius: 2%;
  overflow: hidden;
}
.main > h1 {
  text-transform: capitalize;
  /* margin-bottom: 2rem; */
  text-align: center;
}

.input-box {
  margin: 2rem 0;
  width: 100%;
}
.input-box > button {
  background-color: #6CCFF6;
  border: 1px solid transparent;
  text-transform: capitalize;
  color: white;
  font-size: .8rem;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  width: 25%;
  overflow: hidden;
}
.input-box > input {
  border-radius: 5px;
  height: 2rem;
  padding: 0 .4rem;
  border: 1px solid rgb(202, 202, 202);
  font-size: .8rem;
  width: 70%;
}

.todo:nth-child(1) {
  margin-bottom: .3rem;
}
.todo {
  margin: .7rem 0;
  display: flex;
  justify-content: space-between;
}
.todo span {
  margin-left: .5rem;
}

.actions {
  border: none;
  background-color: transparent;
  display: flex;
  width: 15%;
  justify-content: space-between;
}
input[type='checkbox']:checked + span {
  text-decoration: line-through;
}

.remove-clear-all {
  display: none;
}
.clear-all {
  display: block;
  margin: 2rem auto 0 auto;
  border: none;
  padding: .6rem 1.3rem;
  border-radius: 10px;
  font-size: .8rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(202, 195, 195);
  color: rgb(194, 132, 132);
  cursor: pointer;
  transition: color 0.5s ;
}

.clear-all:hover {
  transition: .8s all;
  background-color: rgb(194, 132, 132);
  color: rgb(233, 230, 230);
  transform: scale(1.1);
}

.no-task-alert {
  text-align: center;
}